<a id="agenda"></a>
<h2>Upcoming</h2>
<div class="table-responsive">
    <table class="table table-condensed table-hover">

        <tr><th colspan="5" style="text-align: center">2017</th></tr>
        <tr>
            <th>Topic</th>
            <th>Event</th>
            <th>Type</th>
            <th>Location</th>
            <th>Date</th>
        </tr>
        <tr>
            <td><a href="https://dddeurope.com/2017/speakers/mathias-verraes/">Modelling Heuristics</a></td>
            <td><a href="https://dddeurope.com/2017/speakers/mathias-verraes/">Workshop @ Domain-Driven Design Europe</a></td>
            <td class="small">workshop</td>
            <td class="small">Amsterdam, NL</td>
            <td class="small">Feb 1</td>
        </tr>
        <tr>
            <td><a href="https://dddeurope.com/2017/">Conference</a></td>
            <td><a href="https://dddeurope.com/2017/">Domain-Driven Design Europe 2017</a></td>
            <td class="small">organiser</td>
            <td class="small">Amsterdam, NL</td>
            <td class="small">Jan 31 - Feb 3</td>
        </tr>

        <tr>
            <td><a href="https://www.neos.io/events/neos-conference-hamburg-2017/workshop-domain-driven-design-in-php.html">Domain-Driven Design</a></td>
            <td><a href="https://www.neos.io/events/neos-conference-hamburg-2017/workshop-domain-driven-design-in-php.html">Neos Conference</a></td>
            <td class="small">workshop</td>
            <td class="small">Hamburg, DE</td>
            <td class="small">Mar 30</td>
        </tr>

        <tr>
            <td><a href="https://www.neos.io/events/neos-conference-hamburg-2017.html">Keynote (TBD)</a></td>
            <td><a href="https://www.neos.io/events/neos-conference-hamburg-2017.html">Neos Conference</a></td>
            <td class="small">keynote</td>
            <td class="small">Hamburg, DE</td>
            <td class="small">Mar 31</td>
        </tr>


        <tr>
            <th colspan="5"><a href="/agenda#past"><strong>Older entries...</strong></a></th>
        </tr>

    </table>
</div>



