<a id="agenda"></a>
<h2>Upcoming</h2>
<div class="table-responsive">
    <table class="table table-condensed table-hover">


        <tr><th colspan="5" style="text-align: center">2016</th></tr>


        <tr>
            <th>Topic</th>
            <th>Event</th>
            <th>Type</th>
            <th>Location</th>
            <th>Date</th>
        </tr>

        <tr>
            <td><a href="https://ti.to/coosto-meetups/ddd-workshop-with-mathias-verraes">DDDinPHP</a></td>
            <td><a href="https://ti.to/coosto-meetups/ddd-workshop-with-mathias-verraes">1 day training @ Coosto</a></td>
            <td class="small">workshop</td>
            <td class="small">Eindhoven, NL</td>
            <td class="small">Oct 28</td>
        </tr>

        <tr>
            <td><a href="https://www.meetup.com/dddlondon/">TBD</a></td>
            <td><a href="https://www.meetup.com/dddlondon/">DDD London</a></td>
            <td class="small">meetup</td>
            <td class="small">London, UK</td>
            <td class="small">Nov 9</td>
        </tr>

        <tr>
            <td><a href="https://skillsmatter.com/conferences/7428-agile-testing-and-bdd-exchange-2016#program">On Being Explicit</a></td>
            <td><a href="https://skillsmatter.com/conferences/7428-agile-testing-and-bdd-exchange-2016#program">Agile Testing & BDD eXchange 2016</a></td>
            <td class="small">keynote</td>
            <td class="small">London, UK</td>
            <td class="small">Nov 10</td>
        </tr>


        <tr>
            <td><a href="/workshops">DDDinPHP</a></td>
            <td><a href="/workshops">1 day training</a></td>
            <td class="small">workshop</td>
            <td class="small">Leuven, BE</td>
            <td class="small">Dec 16</td>
        </tr>

        <tr><th colspan="5" style="text-align: center">2017</th></tr>
        <tr>
            <th>Topic</th>
            <th>Event</th>
            <th>Type</th>
            <th>Location</th>
            <th>Date</th>
        </tr>
        <tr>
            <td><a href="https://dddeurope.com/2017/speakers/mathias-verraes/">Modelling Heuristics</a></td>
            <td><a href="https://dddeurope.com/2017/speakers/mathias-verraes/">Workshop @ Domain-Driven Design Europe</a></td>
            <td class="small">workshop</td>
            <td class="small">Amsterdam, NL</td>
            <td class="small">Feb 1</td>
        </tr>
        <tr>
            <td><a href="https://dddeurope.com/2017/">Conference</a></td>
            <td><a href="https://dddeurope.com/2017/">Domain-Driven Design Europe 2017</a></td>
            <td class="small">organiser</td>
            <td class="small">Amsterdam, NL</td>
            <td class="small">Jan 31 - Feb 3</td>
        </tr>

        <tr>
            <th colspan="5"><a href="/agenda#past"><strong>Older entries...</strong></a></th>
        </tr>

    </table>
</div>



