<a href="/workshops/newsletter/" role="button" class="btn btn-success btn-lg ">
    <i class="fa fa-envelope-o"></i>
    Get notified of new workshops, discounts, ...
</a>

<div class="media well">
    <a class="pull-left hidden-xs" href="https://dddeurope.com/2017/speakers/mathias-verraes/">
        <img class="media-object img-rounded" src="/workshops/img/amsterdam.jpg" alt="Modelling Heuristics workshop">
    </a>
    <div class="media-body">
        <h2 class="media-heading"><a name="DDDEU" href="#DDDEU">Modelling Heuristics</a></h2>
        <h4>Feb 1, 2016 — Amsterdam, Netherlands</h4>
        <ul>
            <li>Domain-Driven Desgin Europe 2017</li>
            <li>Language: English</li>
            <li>Programming language agnostic</li>
            <li>Venue: Theater De Meervaart, Amsterdam </li>
        </ul>
        <a href="https://dddeurope.com/2017/speakers/mathias-verraes/" role="button" class="btn btn-info btn-lg ">
            Read more
            <i class="fa fa-download"></i>
        </a>
        <a href="https://dddeurope.com/2017/speakers/mathias-verraes/" role="button" class="btn btn-success btn-lg ">
            Register now <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>



<!-- EINDHOVEN -->
<div class="media well">
    <a class="pull-left hidden-xs" href="https://ti.to/coosto-meetups/ddd-workshop-with-mathias-verraes">
        <img class="media-object img-rounded" src="/workshops/img/eindhoven.jpg" alt="Domain-Driven Design in PHP training in Eindhoven">
    </a>
    <div class="media-body">
        <h2 class="media-heading"><a name="DDDinPHPEindhoven16" href="#DDDinPHPEindhoven16">Domain-Driven Design in PHP</a></h2>
        <h4>October 28, 2016, Eindhoven, Netherlands</h4>
        <ul>
            <li>Price: EUR 299,- ex VAT for 1 day</li>
            <li>Includes lunch, snacks, and drinks.</li>
            <li>October 28, 9:30-17:30 (tbd)</li>
            <li>Language: English</li>
            <li>Venue: Coosto HQ, Kennedyplein 101, Eindhoven, Netherlands</li>
        </ul>
        <a href="/workshops/DDDinPHPFlyer2015.pdf" role="button" class="btn btn-info btn-lg ">
            Read more
            <i class="fa fa-download"></i>
        </a>
        <a href="https://ti.to/coosto-meetups/ddd-workshop-with-mathias-verraes" role="button" class="btn btn-success btn-lg ">
            Register now <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>



<!-- LEUVEN -->
<div class="media well">
    <a class="pull-left hidden-xs" href="https://goo.gl/forms/VP0sYduuXfFpyxrJ3">
        <img class="media-object img-rounded" src="/workshops/img/leuven.jpg" alt="Domain-Driven Design in PHP training">
    </a>
    <div class="media-body">
        <h2 class="media-heading"><a name="DDDinPHPLeuven16" href="#DDDinPHPLeuven16">Domain-Driven Design in PHP</a></h2>
        <h4>December 16, 2016, Leuven, Belgium</h4>
        <ul>
            <li>Attendants in Eindhoven (Oct 2016) rated this workshop an average 4.6 out of 5</li>
            <li>Price: EUR 299,- ex VAT for 1 day</li>
            <li>Includes lunch, snacks, and drinks.</li>
            <li>December 16, 9:30-17:30</li>
            <li>Language: English</li>
            <li>Venue: <a href="http://www.parkinn.com/hotel-leuven">Park Inn by Radisson Hotel</a>, Leuven, Belgium</li>
            <li>15 min from Brussels Airport (BRU)</li>
            <li>20 min from Brussels Midi train station (Thalys, Eurostar)</li>
            <li><a href="/workshops/terms-and-conditions/">Terms and Conditions</a></li>
        </ul>
        <a href="/workshops/DDDinPHPFlyer2015.pdf" role="button" class="btn btn-info btn-lg ">
            Read more
            <i class="fa fa-download"></i>
        </a>
        <a href="https://goo.gl/forms/VP0sYduuXfFpyxrJ3" role="button" class="btn btn-success btn-lg ">
            Register now <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>


<div class="media well">
    <div class="media-body">
        <p>Contact Mathias for private workshops or consultancy.</p>
        <a href="/#contact" role="button" class="btn btn-info btn-lg ">
            Contact Mathias
            <i class="fa fa-arrow-circle-right"></i>
        </a>
        <a href="/workshops/newsletter/" role="button" class="btn btn-success btn-lg ">
            <i class="fa fa-envelope-o"></i>
            Get notified of new workshops, discounts, ...
        </a>

        <br/>
    </div>
</div>